<div class="example-container fonoks-theme-darkorange" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="accent" class="example-toolbar">
    <button mat-icon-button *ngIf="mobileQuery.matches" (click)="this.windowScrolleToTop();toggleMenu(snav)">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row justify-center header-content-wrapper" *ngIf="!mobileQuery.matches">
      <div class="col-3 content-center">
        <div class="row header-logo-wrapper">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="fonok-logo"
            style="background-image: url('./assets/images/signature.png')"></a>
        </div>
      </div>
      <div class="col-9 content-center">
        <ul class="fonok-menubar row">
          <li class="col"><a routerLink="/home" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()">home</a></li>
          <li class="col"><a routerLink="/photobox" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()" [matMenuTriggerFor]="photoboxCategory">Photobox
            </a></li>
            <mat-menu #photoboxCategory="matMenu">
                <a [routerLink]="['/photobox/event/view']" routerLinkActive="router-link-active"  mat-menu-item >Event Photography</a>
                <a mat-menu-item [routerLink]="['/photobox/event/view']" routerLinkActive="router-link-active">Fashion Photography</a>
                <button mat-menu-item [matMenuTriggerFor]="product">Product Photography</button>
              </mat-menu>

              <mat-menu #product="matMenu">
                <a [routerLink]="['/photobox/product/food']" routerLinkActive="router-link-active" mat-menu-item >Food</a>
                <a [routerLink]="['/photobox/product/sunglass']" routerLinkActive="router-link-active" mat-menu-item >Sunglass</a>
                <a [routerLink]="['/photobox/product/watch']" routerLinkActive="router-link-active" mat-menu-item >Watch</a>
                <a [routerLink]="['/photobox/product/shoe']" routerLinkActive="router-link-active" mat-menu-item>Shoe</a>
                <a [routerLink]="['/photobox/product/perfume']" routerLinkActive="router-link-active" mat-menu-item>Perfume</a>
                <a [routerLink]="['/photobox/product/bodycare']" routerLinkActive="router-link-active" mat-menu-item>Body Care</a>
                <a [routerLink]="['/photobox/product/bottle']" routerLinkActive="router-link-active" mat-menu-item>Bottle</a>
              </mat-menu>



          <li class="col"><a routerLink="/services" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()">services</a></li>
          <li class="col"><a routerLink="/pricingplan" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()">pricing plan</a></li>
          <li class="col"><a routerLink="/aboutus" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()">about us</a></li>
          <li class="col"><a routerLink="/contactus" routerLinkActive="router-link-active"
              (click)="this.windowScrolleToTop()">contact us</a></li>
        </ul>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]='false' [mode]="mobileQuery.matches ? 'over' : 'side'">
      <mat-list>
        <div mat-list-item> <a mat-button routerLink="/home" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">home</a> </div>
        <div mat-list-item> <a mat-button routerLink="/photobox" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">photobox</a> </div>
        <div mat-list-item> <a mat-button routerLink="/services" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">services</a> </div>
        <div mat-list-item> <a mat-button routerLink="/pricingplan" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">pricing plan</a> </div>
        <div mat-list-item> <a mat-button routerLink="/aboutus" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">about us</a> </div>
        <div mat-list-item> <a mat-button routerLink="/contactus" routerLinkActive="url-active" class="nav-element"
            (click)="toggleMenu(snav);this.windowScrolleToTop()">contact us</a> </div>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content (scroll)='onScroll($event)'>
      <button mat-fab *ngIf="this.scrolled" class="scroll-top-button" (click)="scrollToTop()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <ng-content></ng-content>
      <!-- <app-footer></app-footer> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
