@import '../../assets/scss/fonoks-theming.scss';

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  .mat-toolbar.mat-accent{
    @include themify($themes){
      z-index: 15;
    }
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 10;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  


  /* #######   HEADER    ######*/

  .mat-sidenav{
    min-width: 300px;
    max-width: 10vh;
  }

.header-content-wrapper{
    height: 100%;
    width: 100%;
    .header-logo-wrapper{
        height: 60px;
        width:100%;
        .fonok-logo{
        background-position: center center;
        background-size:cover;
        background-repeat:no-repeat;
        height: 100%;
        width: 100%;
        }
    }
    .fonok-menubar{
        height: 100%;
        margin: 0px;
        li{
          list-style: none;
          float: left;
          display: flex;
          a{
              font-family: 'Poiret One', cursive;
              font-size: 1em;
              color: #e5e5e5;
              text-decoration: none;
              align-self: center;
              transition:0.3s;
              &:hover{
                @include themify($themes){
                  color: themed('primaryColor');
                }
              }
          }
          .router-link-active{
            @include themify($themes){
              color: themed('primaryColor');
            }
          }
        }
    }
}

.url-active{
  @include themify($themes){
    color: themed('primaryColor');
  }
}

.nav-element{
  color:white;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 1.25em;
  text-align: left;
  width: 100%;
  transition: 0.3s;
  &:hover{
    @include themify($themes){
      color: themed('primaryColor');
    }
  }
}

.mat-drawer{
  @include themify($themes){
    background-color: themed('accentColor');
  }
}